body {
	background-color: lightgray;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h3 {
	text-decoration: underline;
}

.container {
	display: grid;
	grid-template-areas:
    'header team'
    'startseite main'
    'pflege main'
    'teilnahme main'
    'auswertung main';
	grid-gap: 2px;
	grid-template-columns: auto 1fr;
	padding: 10px;
	height: 95vh;
	width: 95vw;
	font-family: Arial, Helvetica, sans-serif;
}

.container > div {
	padding: 10px 10px;
	font-size: 16px;
	border: 1px solid black;
}

.item-header {
	grid-area: header;
	background-color: lightskyblue;
}

.item-team {
	grid-area: team;
	background-color: lightskyblue;
	text-align: right;
}

.item-startseite {
	grid-area: startseite;
	background-color: lightcoral;
}

.item-pflege {
	grid-area: pflege;
	background-color: lightcoral;
}

.item-teilnahme {
	grid-area: teilnahme;
	background-color: lightcoral;
}

.item-auswertung {
	grid-area: auswertung;
	background-color: lightcoral;
}

.item-main {
	grid-area: main;
	background-color: grey;
	text-align: center;
}

.item-main table{
	margin-left: auto;
	margin-right: auto;
}

#ueberschrift {

	font-size: 2em;
}

#overview {
	border-collapse: collapse;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#overview td, #overview th {
	border: 1px solid black;
	padding: 8px;
}

#overview tr{
	font-size: 16px;
}

#overview tr:nth-child(even) {
	background-color: lightgray;
}

#overview tr:nth-child(odd) {
	background-color: white;
}

#overview th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: darkcyan;
	color: black;
}

#overview #buttons{
	background-color: #008CBA;
	border: 2px solid black;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#overview #buttons:hover{
	background-color: #006f94;
}

#mitarbeiterform {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

#mitarbeiterform label{
	background-color: lightgray;
	text-align: center;
	width: 20%;
	border: 2px solid black;
	padding: 12px 20px;
	display: inline-block;
}

#mitarbeiterform input{
	width: 50%;
	border: 2px solid black;
	padding: 12px 20px;
	margin: 8px 0px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

#mitarbeiterform #buttons{
	background-color: #008CBA;
	border: 2px solid black;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#mitarbeiterform #buttons:hover{
	background-color: #006f94;
}
